<% checked = "" %>
<% follows = false %>
<% if current_user.follows?(user) %>
  <%checked = "checked"%>
  <%follows = true%>
<% end %>

<form action="<%= user_follow_url(user) %>" method="post">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input class="follow-toggle" data-follow-state="<%=follows%>" data-id="<%=user.id%>" type="checkbox" <%= checked %> value="Unfollow">
</form>